# ==========================
# Environment Variables
# ==========================
.env
.env.*
!.env.example

# ==========================
# Python
# ==========================
__pycache__/
*.py[cod]
*$py.class
*.so
*.egg
*.egg-info/
.eggs/
.pytest_cache/
.mypy_cache/
.ruff_cache/

# ==========================
# Virtual Environments
# ==========================
venv/
.venv/
env/
ENV/

# ==========================
# Jupyter
# ==========================
.ipynb_checkpoints/

# ==========================
# Logs
# ==========================
*.log

# ==========================
# VS Code
# ==========================
.vscode/

# ==========================
# PyCharm
# ==========================
.idea/

# ==========================
# OS Files
# ==========================
.DS_Store
Thumbs.db

# ==========================
# Build
# ==========================
build/
dist/

# ==========================
# Vector Databases
# ==========================
chroma/
faiss_index/



# ==========================
# Temporary Files
# ==========================
*.tmp
*.temp